@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Atkinson Hyperlegible Next", "Verdana", "sans-serif";
    margin: 0;
    padding: 0;
}

.content {
    padding: clamp(10px, 5vw, 1in);
    padding-top: 1in;
    box-sizing: border-box;
    background-color: #fffbf2;
    color: #4a4458;
    display: block;
    place-items: center;
}

h1 {
    font-family: "Spectral", "Georgia", "serif";
    font-size: clamp(32px, 10vw, 72px);
    font-kerning: auto;
    line-height: 0.8;
    text-align: center;
    color: #3b2349;
    font-weight: 800;
    font-style: italic;
    margin: 32px 16px;
}

h2 {
    font-family: "Georgia", "Times New Roman", "serif";
    font-size: 22px;
    color: #5b3765;
    text-align: left;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 16px;
    scroll-margin-top: 20px;
}

h4 {
    text-align: center;
    font-size: 20px;
}

h3 {
  font-family: "Tahoma", "sans-serif";
  font-size: 16px;
  padding: 0.5em 1.5em;
  margin: 0;
  border-radius: 2em;
}

p {
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
  text-indent: 2em;
}

sup {
  font-size: 12px;
  color: #6e2300;
  font-style: italic;
}

a {
    text-decoration: none;
    color: #7f4f82;
}

a:visited {
    color: #3b2349;
}

a:hover {
    background-color: #3b2349;
    color: #fffbf2;
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 16px;
    background: #3b2349;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav p {
    font-family: "Spectral", "Georgia", "serif";
    color: #fffbf2;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.2px;
    text-align: left;
}

.menu-checkbox {
    display: none;
}

.menu-symbol {
    display: none;
    cursor: pointer;
    font-size: 32px; /* Adjust icon size here */
    color: #fffbf2;
}

@media (max-width: 850px) {
    .menu-symbol {
        display: block;
    }

    nav p {
        font-size: 24px;
    }

    /* Hide the nav links until the checkbox is checked */
    .nav-links {
        display: none;
        position: absolute;
        top: 100%; /* Sits exactly under the nav bar */
        left: 0;
        width: 100%;
        background-color: #3b2349;
        padding: 20px;

        /* THE KEY: Stack them vertically */
        flex-direction: column;
        align-items: center; /* Centers links horizontally */
        gap: 10px;
    }

    /* THE TOGGLE: When checkbox is checked, show the nav links */
    .menu-checkbox:checked ~ .nav-links {
        display: flex;
    }

    a#contact-me {
        margin-left: 0;
    }
}

nav a {
    font-family: "atkinson Hyperlegible Next", "Verdana", "sans-serif";
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    background-color: #3b2349;
    color: #fffbf2;
    padding: 10px 16px;
    border-radius: 2em;
}

nav a:visited {
    color: #fffbf2;
}

nav a:hover {
    background-color: #7f4f82;
}

a#contact-me {
    font-weight: bold;
    color: #3b2349;
    background: #fffbf2;
}

a#contact-me:hover {
    border: 1px solid #fffbf2;
    color: #fffbf2;
    background: #3b2349;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 30px;
}

.majortag {
  background-color: #7f4f82;
  color: #fffbf2;
}

.minortag {
  background-color: #d7a8c4;
  color: #fffbf2;
}

.table-of-contents {
    border: 1px solid #7f4f82;
    padding: 20px;
    margin: 20px;
    background-color: #fffbf2;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
}

.table-of-contents:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table-of-contents h2 {
    margin-bottom: 10px;
}

.table-of-contents ol {
    list-style-type: upper-latin;
    padding-left: 20px;
}

.table-of-contents ol li::marker {
    color: #7f4f82;
    font-weight: bold;
    margin-right: 10px;

}

.table-of-contents a {
    color: #7f4f82;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid #7f4f82;
    display: inline-block;
    margin-bottom: 2px;
    border-radius: 20px;
    margin-left: 10px;
}

.table-of-contents a:visited {
    color: #ab73af;
}

.table-of-contents a:focus {
    background-color: #fffbf2;
    color: #7f4f82;
    text-decoration: none;
}

.table-of-contents a:hover {
    background-color: #7f4f82;
    color: #fffbf2;
}

.table-of-contents a:active {
    background-color: #fffbf2;
    color: #7f4f82;
    text-decoration: none;
}

.image-gallery {
    column-count: 1;
    column-gap: 50px;
    max-width: 100%;
    column-fill: balance;
}

@media (min-width: 540px) { .image-gallery { column-count: 2; } }
@media (min-width: 792px) { .image-gallery { column-count: 3; } }

.image-gallery-item {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
    break-inside: avoid;
    box-sizing: border-box;
    padding: 10px;
}

.image-gallery-item:hover {
    width: 102%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-gallery-item img {
    display: inline-block;
    width: 100%;
}

.image-gallery-item figcaption {
    text-align: left;
    width: 100%;
    font-size: 14px;
}
.image-gallery-item figcaption.source {
    text-align: left;
    width: 100%;
    font-size: 10px;
    color: #7f4f82;
}

a.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 10px 20px;
    background-color: #7f4f82;
    border-radius: 30px;
    color: #fffbf2;
    text-decoration: none;
}

.back-to-top:active {
    border: 1px solid #7f4f82;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    bottom: 42px;
}

.back-to-top:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fffbf2;
    color: #7f4f82;
    bottom: 45px;
}


