@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Atkinson Hyperlegible Next", "Verdana", "sans-serif";
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Spectral", "Georgia", "serif";
    color: #3b2349;
    font-size: clamp(14px, 2vw, 2.5vw);
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 16px;
    background: #3b2349;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav p {
    font-family: "Spectral", "Georgia", "serif";
    color: #fffbf2;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.2px;
    text-align: left;
}

.menu-checkbox {
    display: none;
}

.menu-symbol {
    display: none;
    cursor: pointer;
    font-size: 32px; /* Adjust icon size here */
    color: #fffbf2;
}

@media (max-width: 850px) {
    .menu-symbol {
        display: block;
    }

    nav p {
        font-size: 24px;
    }

    /* Hide the nav links until the checkbox is checked */
    .nav-links {
        display: none;
        position: absolute;
        top: 100%; /* Sits exactly under the nav bar */
        left: 0;
        width: 100%;
        background-color: #3b2349;
        padding: 20px;

        /* THE KEY: Stack them vertically */
        flex-direction: column;
        align-items: center; /* Centers links horizontally */
        gap: 10px;
    }

    /* THE TOGGLE: When checkbox is checked, show the nav links */
    .menu-checkbox:checked ~ .nav-links {
        display: flex;
    }

    a#contact-me {
        margin-left: 0;
    }
}

nav a {
    font-family: "atkinson Hyperlegible Next", "Verdana", "sans-serif";
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    background-color: #3b2349;
    color: #fffbf2;
    padding: 10px 16px;
    border-radius: 2em;
}

nav a:visited {
    color: #fffbf2;
}

nav a:hover {
    background-color: #7f4f82;
}

a.contact-me {
    font-family: "atkinson Hyperlegible Next", "Verdana", "sans-serif";
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 16px;
    margin: 16px 0;
    border-radius: 2em;
    color: #3b2349;
    background: #fffbf2;
}

a.contact-me:hover {
    border: 1px solid #fffbf2;
    color: #fffbf2;
    background: #3b2349;
}

/*Homepage Proper*/

.space-buffer {
    height: 70px;
    background-color: #3b2349;
}

.purple-section {
    width: 100%;
    min-height: 92vh;
    max-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background: #3b2349;
}

.purple-section h1 {
    color: #fffbf2;
}

.purple-section p {
    color: #fffbf2;
}

.cream-section {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    display: block;
    background: #fffbf2;
}

.coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.purple-section.coming-soon {
    background: #575757;
    color: #d9d9d9;
}

.purple-section.coming-soon h1 {
    color: #d9d9d9;
}

.cream-section.coming-soon {
    background: #d9d9d9;
    color: #575757;
}

.cream-section.coming-soon h1 {
    font-size: clamp(14px, 2vw, 2.5vw);
    color: #575757;
}

#start-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#start-page-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 16px 0;
}

#start-page-text h1 {
    font-family: "Spectral", "Georgia", serif;
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    color: #fffbf2;
    margin-bottom: 30px;
    line-height: 0.2;
    letter-spacing: 1px;
    font-style: italic;

}

#start-page-text h2 {
    font-family: "Spectral", "Georgia", serif;
    font-size: clamp(1rem, 5vw, 2rem);
    color: #dcc3de;
    font-weight: 400;
    font-style: oblique;
    margin: 0;
}

#start-page-text p {
    font-family: "Atkinson Hyperlegible", "Verdana", "sans-serif";
    font-size: 18px;
    margin-bottom: 20px;
    color: #dcc3de;
}

#start-page img {
    width: auto;
    max-width: 80%;
    max-height: 80vh;
    object-fit: contain;
    display: block;
}