@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Atkinson Hyperlegible Next", "Verdana", "sans-serif";
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Spectral", "Georgia", "serif";
    color: #3b2349;
    font-size: clamp(48px, 2vw, 4.5vw);
    font-style: Italic;
    font-weight: bold;
}

p {
    font-family: "Atkinson Hyperlegible Next", "Verdana", "sans-serif";
    color: #3b2349;
    font-size: 20px;
    margin-bottom: 20px;
}

a {
    font-family: "atkinson Hyperlegible Next", "Verdana", "sans-serif";
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 16px;
    margin: 24px 0;
    border-radius: 2em;
    color: #fffbf2;
    background: #3b2349;
}

a:hover {
    border: 1px solid #3b2349;
    color: #3b2349;
    background: #fffbf2;
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 16px;
    background: #3b2349;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav p {
    font-family: "Spectral", "Georgia", "serif";
    color: #fffbf2;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.2px;
    text-align: left;
    margin: 0;
}

footer {
    width: 100%;
    background: #3b2349;
    height: fit-content;
    display: flex;
    padding-top: 30px; 
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #fffbf2;
    font-size: 20px;
    margin: 0;
}

footer a {
    text-decoration: underline;
}


.menu-checkbox {
    display: none;
}

.menu-symbol {
    display: none;
    cursor: pointer;
    font-size: 32px; /* Adjust icon size here */
    color: #fffbf2;
}

@media (max-width: 850px) {
    .menu-symbol {
        display: block;
    }

    nav p {
        font-size: 24px;
    }

    /* Hide the nav links until the checkbox is checked */
    .nav-links {
        display: none;
        position: absolute;
        top: 100%; /* Sits exactly under the nav bar */
        left: 0;
        width: 100%;
        background-color: #3b2349;
        padding: 20px;

        /* THE KEY: Stack them vertically */
        flex-direction: column;
        align-items: center; /* Centers links horizontally */
        gap: 10px;
    }

    /* THE TOGGLE: When checkbox is checked, show the nav links */
    .menu-checkbox:checked ~ .nav-links {
        display: flex;
    }

    a#contact-me {
        margin-left: 0;
    }
}

nav a {
    font-family: "atkinson Hyperlegible Next", "Verdana", "sans-serif";
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    background-color: #3b2349;
    color: #fffbf2;
    padding: 10px 16px;
    border-radius: 2em;
}

nav a:visited {
    color: #fffbf2;
}

nav a:hover {
    background-color: #7f4f82;
}

a.contact-me {
    font-family: "atkinson Hyperlegible Next", "Verdana", "sans-serif";
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 16px;
    margin: 16px 0;
    border-radius: 2em;
    color: #3b2349 !important;
    background: #fffbf2;
}

a.contact-me:visited {
    color: #3b2349;
}

a.contact-me:hover {
    border: 1px solid #fffbf2;
    color: #fffbf2;
    background: #3b2349;
}

/*Homepage Proper*/

.space-buffer {
    height: 70px;
    background-color: #3b2349;
}

.section-text {
    display: block;
    width: 50%;
    max-width: 80vh;
    gap: 20px;
}

.purple-section {
    width: 100%;
    min-height: 92vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #3b2349;
    padding: 10px;
}

.purple-section h1 {
    color: #fffbf2;
}

.purple-section p {
    color: #fffbf2;
}

.cream-section {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fffbf2;
}

.coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.purple-section.coming-soon {
    background: #575757;
    color: #d9d9d9;
}

.purple-section.coming-soon h1, .purple-section.coming-soon p {
    color: #d9d9d9;
}

.cream-section.coming-soon {
    background: #d9d9d9;
    color: #575757;
}

.cream-section.coming-soon h1, .cream-section.coming-soon p {
    color: #575757;
}

#start-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#start-page-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 16px;
    width: 30%;
    max-width: 80%;
}

#start-page-text h1 {
    font-family: "Spectral", "Georgia", serif;
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    color: #fffbf2;
    margin-bottom: 30px;
    line-height: 0.2;
    letter-spacing: 1px;
    font-style: italic;
}

#start-page-text h2 {
    font-family: "Spectral", "Georgia", serif;
    font-size: clamp(1rem, 5vw, 2rem);
    color: #dcc3de;
    font-weight: 400;
    font-style: oblique;
    margin: 0;
}

#start-page-text p {
    font-family: "Atkinson Hyperlegible", "Verdana", "sans-serif";
    font-size: 18px;
    margin-bottom: 20px;
    color: #dcc3de;
    line-height: 1.5;
}

#start-page img {
    width: auto;
    max-width: 80%;
    max-height: 80vh;
    object-fit: contain;
    display: block;
}

@media (max-width: 850px) {}

#blogs {
    flex-direction: column;
    scroll-margin-top: 70px;
}

#blogs.section-text {
    margin-top: 50px;
}

#blogs h1 {
    text-align: center;
}

.blog-snippets {
    display: flex;
    flex: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    width: fit-content;
    gap: 30px;
    padding: 20px;
}

a.blog-snippet-card {
    display: block;
    text-decoration: none;
    flex: 0 0 300px;
    width: 450px;
    max-width: 60%;
    height: auto;
    background: #fffbf2;
    color: #3b2349;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

a.blog-snippet-card:hover {
    transform: translateY(-5px);
    border: 1px solid #7f4f82;
}

.blog-snippet-card img {
    height: 250px;
}

.blog-snippet-text {
    color: #3b2349;
    padding: 20px;
    display: block;
    width: 100%;

}

.blog-snippet-text h2 {
    font-family: "Spectral", "Georgia", serif;
    font-size: 36px;
    line-height: 0.8;
    font-style: italic;
    font-weight: bolder;
    margin-bottom: 20px;
}

.blog-snippet-text p {
    color: #3b2349;
    font-family: "Atkinson Hyperlegible", "Verdana", "sans-serif";
    font-size: 14px;
}

.read-more {
    display: inline;
    font-size: inherit;
    color: #7f4f82;
}


a.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 10px 20px;
    background-color: #7f4f82;
    border-radius: 30px;
    color: #fffbf2;
    text-decoration: none;
}

.back-to-top:active {
    border: 1px solid #7f4f82;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    bottom: 42px;
}

.back-to-top:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fffbf2;
    color: #7f4f82;
    bottom: 45px;
}